body {
  text-align: center;
  background: #1c1c1c;
}

.container {
  background: #6943ff;
  margin: 50px auto;
  max-width: 400px;
  padding-top: 20px;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.container-bottom {
  background: #1f2937;
  padding-top: 1px;
  padding-bottom: 1px;
}

h1 {
  margin: 0;
  font-size: 22px;
}

input {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  width: 70px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc1ff;
  background-color: #6943ff;
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  width: 90px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.length,
.volume,
.mass {
  background: #273549;
  margin: 25px;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  margin: 0;
  color: #ccc1ff;
  font-size: 15px;
}

p {
  margin: 0;
  font-size: 12px;
  padding-top: 15px;
}
